<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="DatabaseEntities" connectionString="metadata=res://*/Model.DatabaseModel.csdl|res://*/Model.DatabaseModel.ssdl|res://*/Model.DatabaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HOME-PC;initial catalog=npk;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>